<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.signallink.svsv2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera2" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>

    <application
        android:name=".services.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".views.activities.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activities.ScreenModeSelectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".views.activities.SelectPipePumpModeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".views.activities.PresetListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.PresetActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.PipePresetActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.MeasureActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.PipeMeasureActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.MeasureExeActivity"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="unspecified" >
        </activity>

        <activity
            android:name=".views.activities.MeasureModeSelectActivity"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="unspecified" >
        </activity>

        <activity
            android:name=".views.activities.BetteryInfoGetterActivity"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="unspecified" >
        </activity>

        <activity
            android:name=".views.activities.ResultActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.ImageDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.PipeResultActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.PipeReport1Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.PipeReport2Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.ResultDiagnosisActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.RecordManagerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.PipeRecordManagerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.SVSLocationManualModeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.SVSLocationAutoModeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.DetailUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.ChartHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.MonitoringRawDataActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.MonitoringTrendActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.MonitoringDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.ChartRecordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.TrendRecordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.DiagnosisActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.WebActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".views.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Crop -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Bluetooth Service -->
        <service android:enabled="true" android:name=".services.UartService" />
    </application>


</manifest>